# Default ignored files
/../../Hw3_intro_to_D.S./.idea/shelf/
/../../Hw3_intro_to_D.S./.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\khali\PycharmProjects\Hw3_intro_to_D.S.\.idea/dataSources/
/../../Hw3_intro_to_D.S./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../Hw3_intro_to_D.S./.idea/httpRequests/
